.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftColumn {
  flex: 3;
}

.rightColumn {
  flex: 1;
}